

<ion-view view-title="Order Confirmation" hide-back-button="true" >
	<ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
    </ion-nav-buttons>

	<ion-content scroll="false" style="background-color:#eee; padding-left:0.4em; padding-right:0.4em;">
	  	<div class="order-pay-success">
    			<div class="order-pay-success-hurrah">Hurrah!</div>
    			<div class="order-pay-success-img"></div>
    			<div class="order-pay-success-info">Your order will in "ticket" section</div>
          <a class="col col-80 col-offset-10 button button-calm" style="position:absolute; bottom:5em;" ng-click="onLater()">Later</a>
          <a class="col col-80 col-offset-10 button button-assertive" style="position:absolute; bottom:1em;" ng-click="onPreOrder()">Pre Order & Book a date</a>
	  	</div>
	</ion-content>
</ion-view>
